body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(273deg, rgba(255, 255, 255, 1) 0%, rgba(212, 228, 241, 1) 50%);
  overflow-x: hidden;
}

:root {
  --main_color: #d4e4f1;
}

.input-txt {
  font-size: 13px;
  font-weight: bolder;
}

.justifty-txt {
  text-align: justify;
  text-justify: inter-word;
}

